<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYUTFruFbDhRhUjAFspJ3yBFA2af7ERE8</string>
	<key>GCM_SENDER_ID</key>
	<string>796753009973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cegeplabs.tp3-2372224</string>
	<key>PROJECT_ID</key>
	<string>tp3phil</string>
	<key>STORAGE_BUCKET</key>
	<string>tp3phil.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796753009973:ios:759fcd8799cdbec39a007c</string>
</dict>
</plist>